build/
app-stutter/*
!app-stutter/.gitkeep
build-static/
dist/
out/
.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
build-clangd/
vcpkg_installed/
CMakeUserPresets.json
*.user
*.suo
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
templates/
*.json.bak
project.json
